.chatContainer {
  height: 600px;
  max-height: 90vh;
  background-color: #f3f3f3;
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
}

.chatHeader {
  align-items: center;
  gap: 10px;
  padding: 20px;
  display: flex;
}

.avatarWrapper {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #24485f;
  flex-shrink: 0;
}

.avatar {
  width: 70%; 
  height: 70%; 
  object-fit: contain;
  flex-shrink: 0;
}

.headerInfo {
  flex-direction: column;
  display: flex;
}

.chatbotName {
  color: #559bc6;
  letter-spacing: 0.005em;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.statusContainer {
  align-items: center;
  gap: 8px;
  display: flex;
}

.statusText {
  color: #559bc6;
  letter-spacing: 0.005em;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.statusIndicator {
  background-color: #0f0;
  border-radius: 9999px;
  width: 20px;
  height: 20px;
}

.conversationArea {
  flex-direction: column;
  gap: 2px;
  padding: 10px;
  display: flex;
}

.messageRow {
  gap: 10px;
  display: flex;
  margin-top: -15px;
}

.botMessageLight {
  color: #000000;
  letter-spacing: 0.005em;
  background-color: #acc8d9;
  border-radius: 20px;
  max-width: 200px;
  padding: 9px;
  font-size: 16px;
  font-weight: 500;
}

.userMessageRow {
  justify-content: flex-end;
  display: flex;
  gap: 10px;
  margin-top: -15px;
}

.userMessage {
  color: #fff;
  letter-spacing: 0.005em;
  background-color: #0c76b8;
  border-radius: 20px;
  max-width: 200px;
  padding: 9px;
  font-size: 16px;
  font-weight: 500;
}

.userAvatar {
  color: #fff;
  background-color: #24485f;
  border-width: 5px;
  border-color: #eaeff7;
  border-radius: 9999px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputContainer {
  background-color: #f3f3f3;
  border-radius: 20px;
  width: 100%;
  padding: 8px; 
  display: flex;
  align-items: center; 
  gap: 8px; 
  box-sizing: border-box;
  justify-content: space-between;
}

.messageInput {
  flex-grow: 1;
  border-width: 0;
  color: #000000;
  letter-spacing: 0.005em;
  background-color: transparent;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  height: 35px;
  font-family: Montserrat;
}

.messageInput:focus {
  outline: none;
}

.userMessage,
.botMessageLight {
  word-wrap: break-word;    
  white-space: normal;       
  overflow-wrap: break-word; 
  word-break: break-word;
  max-width: 80%;
}

.sendButton {
  background-color: #0c76b8;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
  height: 35px; 
  display: flex;
  align-items: center; 
  justify-content: center;
  margin-bottom: 8px;
}

.sendButton:hover {
  background-color: #085b91;
}